body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393E46;
    flex-direction: column;
}
h1{
    color: #EEEEEE;
    font-family: sans-serif;
    text-align: center;
}
#container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 width: 250px;
 height: 250px;
 gap: 0.5rem;
}
.box{
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 1px,1px ,1px, #393E46;
}
.reset{
    color: #393E46;
    min-width: 80px;
    max-width: 100px;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 1px 2px 0px 1px rgba(0,0,0,50%);
}
.reset:hover{
    color: black;
}